.container {
  width: 1240px;
  text-align: center;
  /* border: 1px solid red; */
  margin-left: -50px;
}
body {
  width: 1240px;
  height: 1024px;
  margin: auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  justify-content: center;
  place-items: center;
  color: #ff6060;
  flex-direction: column;
}
body .banner {
  width: 1240px;
}
body .grid {
  padding-left: 0px;
  padding-top: 30px;
  
}
@media screen and (width <= 375px) {
  body {
    width: 335px;
  }
  .container {
    width: 335px;
}
}