.about_container {
    max-width: 1023px;
    width: 100%;
    padding-inline: 3em;
    margin-inline: auto;
    font-weight: 500;
    size: 24px;
    /* line-height: 34.22px; */
    /* margin-left: 60px; */
}
.description_content {
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.imageAbout {
    max-width: 1240px;
    width: 100%;
    height: 223px;
    object-fit: cover; /*zoomer sans deformer*/
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    margin-bottom: 1em;
    /* margin-left: -50px; */
    margin-inline: auto;
}
.imageAbout img {
    padding-left: 50px;
}

/* @media screen and (width <= 375px) {
    .about_container {
        flex-direction: column;
        width: 100%;
        margin-left: -30px;
        /* padding-left: 0; */
    /* } */
    /* .apartment_description {
        width: 140%;
    }
    .imageAbout {
        width: 113%;
        height: 60%;
        margin-left: -30px;
    } */
/* } */ 
