.apartment-page {
    color: #ff6060;
    margin-left: -50px;
    width: 1240px;
}
.ApartmentDescription_area {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

@media screen and (width <= 375px) {
    .ApartmentDescription_area {
        flex-direction: column;
        width: 90%;
    }
    .apartment-page {
        width: 335px;
    }
}