.apartment-page div:first-child { /*ou margin-bottom en aut*/
    margin-bottom: 1em;
}
.apartment-page h1 {
    font-weight: 500;
    margin-block: 0;
    font-size: 36px;
    line-height: 51.34px;
}
.apartment-page h2 {
    font-weight: 500;
    margin-top: 0.5em;
    font-size: 30px;
    margin-bottom: 0.2em;
    line-height: 25.67px;
}
.apartment_header {
    display: flex;
    gap: 0.7em;
}
/* @media screen and (width <= 375px) {
    .apartment_header {
        display: flex;
        flex-direction: column;
    }
    .apartment_header .apartment_owner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .apartment_owner{
        width: 80%;
    }
    .apartment_owner_details {
        order: 1;
    }
    .apartment_title h1 {
        font-size: 14px;
        line-height: 25.67px;
    }
    .apartment_title h2 {
        font-size: 12px;
        line-height: 19.96px;
    }
    .apartment_title .apartment_tags span{
        font-size: 12px;
        line-height: 14.26px;
        padding-inline: 0;
    }
    .apartment_owner_details h3 span{
        font-size: 12px;
        line-height: 17.11px;
    }
    .apartment_owner_stars span{
        font-size: 16px;
        line-height: 18px;
    }
} */
.apartment_tags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 115px));
    gap: 1rem;
}
.apartment_tags span {
    background-color: #ff6060;
    color: white;
    padding: 0.3em 1em; 
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    line-height: 19.96px;
}
.apartment_owner h3 {
    margin-block: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-weight: 500;
    font-size: 32px;
    line-height: 25.67px;
}
.apartment_title {
    flex-grow: 1;
}
.apartment_owner {
    display: flex;
    flex-direction: column;
}
.apartment_owner_details {
    display: flex;
    gap: 0.5em;
}
.apartment_owner_badge img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.119);
}
.apartment_owner_stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.119);
}
.on {
    color: #ff6060;
}
