.grid {
    background-color: rgba(0, 0, 0, 0.119);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    justify-content:center;
    max-width: 1240px;
    width: 100%;
}
.grid a {
    text-decoration: none;
}
/* @media screen and (width <= 375px) {
    .grid {
        justify-content: center;
        background-color: white;
        padding: 0;
        place-items: center;
        margin-bottom: 0;
        width: 100%;
        margin-left: 0;
    }
    body .grid {
        padding: 0;
        gap: 0;
    }
    .grid a {
        height: 225px;
        margin-bottom: -10px;
    }
     .grid .apartment_image {
        width: 98%;
        height: 80%;
        margin-left: 0;
        position: relative;
        margin-bottom: 0;
    }
    .grid .apartment_image title {
        margin-left: 0;
    }
    .apartment {
        width: 80%;
        margin-bottom: 0;
        margin-top: 10px;
    }
} */