.banner {
    position: relative;
    background-position: center;
    background-size: cover;
    max-width: 1240px;
    width: 100%;
    height: 223px;
    min-height: 100px;
    margin: auto;
    border-radius: 25px;
    display: grid;
    place-items: center;
    color: white;
    margin-bottom: 2rem;
}
.banner h2 {
    position: absolute;
    font-weight: 500;
    font-size: 48px;
    line-height: 68.45px;
}
.banner::before {
    position: absolute;
    content:""; /*En befor, il faut mettre content mm vide */
    /* inset: 0; left:0, top:0, bottom:0,right:0;width:100%;height:100% (cad prends la position que ton parent */
    
}
/* @media screen and (width <= 375px) {
    body .banner {
        text-align: left;
        width: 100%;
        height: 40%;
        background-position: center;
        background-size: cover;
        display: grid;
        place-items: center;
        margin-block: 0;
        margin-left: 0;
    }
    .banner h2 {
        font-weight: 500;
        font-size: 90%;
        line-height: 80%;
        padding-inline: 15%;
    }
} */